<article{{ attributes.addClass('related') }}>
  <header>
    {% block prefix %}{% endblock %}
    <div class="related__top">
      <div class="related__image">{% block image %}{% endblock %}</div>
      {% block title %}{% endblock %}
    </div>
  </header>
  <div class="related__content">
    {% block content %}{% endblock %}
  </div>
</article>
